:root {
    /* colors and bg colors */
    --color-background-primary: rgb(37, 162, 219);
    --color-background-secondary: rgb(255, 255, 255);
    --color-background-tertiory: rgba(233, 246, 251, 1);

    --color-text-primary: rgba(0, 3, 9, 1);
    --color-text-secondary: rgb(255, 255, 255);
    --color-text-tertiory: rgba(138, 144, 153, 1);

    /* fonts*/
    --font-size-normal: 14px;
    --font-weight-normal: 400;
    --font-size-heading: 36px;
    --font-weight-heading: 500;
    --font-size-median-heading: 18px;
    --font-family-heading: americanaFont;
    --font-family-normal: nunitoFont;

    /* width and height */
    --width-normal: 100%;
    --height-normal: 100%;

    /* normal padding */
    --padding: 0 50px;

    /* border radius */
    --border-radius-normal: 5px;
    --border-radius-mediun: 10px;
    --border-radius-full: 100%;

}

@media (max-width:750px) {
    .page-width {
        padding: 0 15px;
        margin: auto;
    }

    ul.footer-content {
        flex-direction: column;
        gap: 40px;
    }

    .banner-slide img {
        aspect-ratio: 1/1;
        max-width: unset;
    }

    .footer-inner {
        display: flex;
        justify-content: center;
    }

    .upper-text-banner-image img {
        aspect-ratio: 16/10.8;
    }

    .suggestion-product.grid-item {
        width: 100%;
        max-width: 100%;
    }

    .scrolling-section {
        flex-direction: column;
    }

}

@media (max-width:450px) {
    .banner-content h3 {
        font-size: 30px;
    }

    .grid-col-2-tablet .grid-item {
        width: 100%;
        max-width: 100%;
    }

    .grid-item {
        width: 100%;
        max-width: 100%;
    }

    .grid-col-2-tablet .grid-item {
        width: 100%;
        max-width: 100%;
    }

    .banner-content {
        top: 30%;
    }

    .upper-text-banner-image img {
        aspect-ratio: 1/1;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h3,
    .h4,
    .h6 {
        font-family: americanaFont;
        line-height: normal;
        word-wrap: break-word;
        font-size: 20px;
    }

    .primary-btn {
        padding: 10px 25px;
    }

    .grid-col-2-tablet .grid-item {
        min-width: 100%;
    }

    .grid-col-2-tablet {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

}

@media (max-width:990px) {
    .page-width {
        padding: 0 30px;
    }

    .rich-text {
        max-width: 650px;
    }

    .grid-col-2-tablet .grid-item {
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

    .grid-col-2-tablet {
        row-gap: 20px;
        column-gap: 20px;
    }

    .icon-with-text-wrapper {
        display: flex;
        justify-content: center;
    }

    .header-content {
        gap: 20px;
    }

    .footer-bottom {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .footer-bottom-inner {
        display: flex;
        justify-content: center;
    }

    .text-section {
        width: 100%;
        max-width: 880px;
    }

    .image-section.image-sec-1 {
        left: 89%;
    }

    .multi-image-section {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        margin-left: 30px;
    }

    .upper-text-banner-image {
        aspect-ratio: 16/3;
        object-position: unset;
    }

    .grid-col-3-desktop .grid-item {
        width: 100%;
        max-width: 420px;
    }

    .grid-col-2-desktop .grid-item {
        width: 100%;
        max-width: 100%;
    }

    .banner-content {
        top: 20%;
    }

    .srolling-with-text.flex {
        gap: 60px;
        flex-direction: column;
        align-items: flex-start;
    }

    .scrolling-section {
        display: flex;
        gap: 20px;
    }


    .suggestion-product.grid-item {
        width: 100%;
        max-width: calc(33.33% - 20px);
    }

    .suggestion-blog-products {
        width: 100%;
        gap: 10px;
    }

    .upper-text-banner-image {
        aspect-ratio: 16/20;
        object-position: unset;
    }

    .blog-product::after {
        content: none;
    }

    .image-with-text.flex {
        width: 100%;
        gap: 30px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .image-section-2 {
        width: 100%;
    }

    .swiper.text-swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
        width: 100%;
    }

    .multi-image-with-text.flex {
        flex-direction: column;
        justify-content: center;
    }

    .multi-image-text-content.text-section {
        width: 100%;
        max-width: 100%;
    }

    .multi-images {
        width: 100%;
    }
}

@media (max-width:1250px) {
    .navigation {
        display: none;
    }

    .menu-bar {
        display: block;
        color: white;
    }

    .upper-text-banner-image img {
        aspect-ratio: 16/7.7;
    }
}

@media (max-width:400px) {
    .banner-content {
        position: unset;
        color: black;
        padding-bottom: 50px;
    }

    .image-with-upper-text-content-wrapper {
        position: unset;
    }

    .image-with-upper-text-content {
        color: black;
    }
}

@media (max-width:1400px) {
    .page-width {
        padding: 0px 40px;
    }
}