* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}

@font-face {
    font-family: americanaFont;
    src: url("../font/Americana Font Regular.otf");
}

@font-face {
    font-family: nunitoFont;
    src: url("../font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf");
}

body {
    font-family: var(--font-family-normal);
    font-weight: var(--font-weight-normal);
    font-weight: 100;

}

.list-style {
    list-style: none;
}

.link {
    display: inline-block;
    text-decoration: none;
}

.page-width {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    padding: 0 130px;
}

.container {
    width: 100%;
    height: 100%;
}

:root {
    /* colors and bg colors */
    --color-background-primary: rgb(37, 162, 219);
    --color-text-tertiory: #575e64;

    /* fonts*/
    --font-size-normal: 14px;
    --font-weight-normal: 400;
    --font-size-heading: 36px;
    --font-weight-heading: 500;
    --font-size-median-heading: 18px;
    --font-family-heading: americanaFont;
    --font-family-normal: nunitoFont;

    /* width and height */
    --width-normal: 100%;
    --height-normal: 100%;

    /* normal padding */
    --padding: 0 50px;

    /* container padding */
    --padding-container: 80px 0px;

    /* border radius */
    --border-radius-normal: 5px;
    --border-radius-mediun: 10px;
    --border-radius-full: 100%;

}

/* color schemes */
.gradient {
    background-color: var(--color-background);
    color: var(--color-text);
}

.color-scheme-1 {
    --color-background: rgba(249, 249, 249, 1);
    --color-text: rgba(0, 3, 9, 1);
}

.color-scheme-2 {
    --color-background: rgba(233, 246, 251, 1);
    --color-text: rgba(0, 3, 9, 1);
}

.color-scheme-3 {
    --color-background-foregrade: rgb(255, 255, 255);
    --color-text: rgba(0, 3, 9, 1);
}


.h3 {
    font-size: var(--font-size-heading);
    font-weight: var(--font-weight-heading);
}

.h4 {
    font-size: 28px;
    font-weight: var(--font-weight-heading);
}

.h6 {
    font-size: var(--font-size-median-heading);
    font-weight: var(--font-weight-heading);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h3,
.h4,
.h6 {
    font-family: americanaFont;
    line-height: 100%;
    letter-spacing: 0%;
    line-height: normal;
}

.align {
    text-align: center;
}

.flex {
    display: flex;
}


.announcement-bar {
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);
    font-size: var(--font-size-normal);
    justify-content: center;
    align-items: center;
    min-height: 39px;
}

.header-logo {
    max-height: 50px;
    max-width: 103.01px;
    justify-content: center;
}

.header-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width: var(--width-normal);
    padding: 12px 0px;
}

.header-content .navigation ul {
    gap: 20px;
}

.navigation ul li a {
    color: var(--color-text-secondary);
}

.navigation {
    justify-content: flex-start;
}

.banner-image {
    position: relative;
    padding-top: 0;

}

.menu-bar {
    display: none;
}

.banner-wrapper {
    position: relative;

}

.header-section {
    position: absolute;
    z-index: 7;
    width: var(--width-normal);
    top: 42px;
}

.header-icons {
    justify-content: flex-end;
    gap: 20px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.banner-slide img {
    aspect-ratio: 16/6.2;
    height: 100%;
    max-height: 100%;
}
.banner-content {
    max-width: 435px;
    position: absolute;
    z-index: 1;
    color: var(--color-text-secondary);
    top: 35%;
    align-items: baseline;
    gap: 15px;
    flex-direction: column;
}

.banner-content .primary-btn {
    margin-top: 20px;
}

.primary-btn {
    background-color: var(--color-background-primary);
    color: var(--color-text-secondary);
    padding: 13px 36px;
    border: 1px solid var(--color-background-primary);
    border-radius: var(--border-radius-normal);
    font-weight: var(--font-weight-heading);
    font-size: 16px;
    font-family: var(--font-family-normal);
    width: fit-content;
}

.banner-content h3 {
    max-width: 435px;
}

.icon-with-text-wrapper {
    align-items: center;
}

.icon-with-text-inner {
    padding: 20px 0px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.icon-with-text-inner .grid-item {
    width: calc(16.66% - 0px);
    max-width: calc(16.66% - 0px);
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer-wrapper {
    background-color: var(--color-background-primary);
}

ul.footer-content {
    color: var(--color-text-secondary);
    display: flex;
    justify-content: space-between;
    padding: var(--padding-container);
    flex-wrap: wrap;
    gap: 40px;
}

ul.footer-content li a {
    color: var(--color-text-secondary);
}

.footer-content li {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    max-width: 302px;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.informing-options {
    display: flex;
    gap: 10px;
    align-items: center;
}

.footer-content .primary-btn {
    background-color: white;
    color: var(--color-text-primary);
    font-weight: 600;
}

ul.footer-nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.informing-options-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="email"] {
    padding: 20px 5px 19px 15px;
    max-width: 310px;
    width: 100%;
    border: 1px solid white;
    background: unset;
    border-radius: var(--border-radius-normal);
    font-family: 'nunitoFont';
    outline: none;
}

input[type="email"]::placeholder {
    color: white;
}

.footer-content h3 {
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;

}

.footer-bottom-wrapper {
    padding: 40px 0px;
}

.footer-bottom {
    justify-content: space-between;
    color: white;
}

.state-selector,
.payment-section {
    gap: 20px;
    flex-direction: column;
}

select[name="state"] {
    border: 1px solid white;
    background: transparent;
    border-radius: var(--border-radius-normal);
    color: white;
    font-family: 'nunitoFont';
    outline: none;
    padding: 10px;
}

.payment-icons {
    gap: 10px;
}

.policy {
    display: flex;
    gap: 20px;
}

.footer-bottom-wrapper hr {
    background-color: rgb(210 213 217);
    border: none;
    height: 1px;
}

.categories-wrapper {
    padding: var(--padding-container);
}

.categories-wrapper h3 {
    padding-bottom: 40px;
}

.category {
    gap: 40px;
    position: relative;
    justify-content: center;
}

li.grid-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.category-product-title h5 {
    font-size: 20px;
}

.category-product-title {
    position: absolute;
    gap: 10px;
    display: flex;
    flex-direction: column;
    top: 80%;
}

.swiper.Swiper-com.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
    height: 100%;
    min-height: 290px;
}

.category-product-title a {
    color: var(--color-text);
}

button.underline-btn {
    background: none;
    border: none;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 600;
    font-family: 'nunitoFont';
    text-underline-offset: 5px;
}

.product-image {
    position: relative;
}

.product-image img {
    position: relative;
}

.catagory-title h3 {
    padding: 0;
}

.catagory-title {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom: 40px;
}

li.featured-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.featured-collection-title p {
    font-family: 'nunitoFont';
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-normal);
}

.featured-collection-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.price span {
    color: var(--color-text-tertiory);
    display: flex;
    align-items: center;
}

.category-title-wrapper {
    flex-direction: row;
    gap: 50px;
    align-items: baseline;
    justify-content: center;
}

button.outline-btn {
    width: 88%;
    background: transparent;
    font-size: 16px;
    padding: 15px 0px;
    border-radius: var(--border-radius-normal);
    position: absolute;
    border: 1px solid lightgray;
    left: 6%;
    bottom: 1%;
    visibility: hidden;
}

.featured-item:hover button.outline-btn {
    visibility: visible;
}

.compare-price {
    text-decoration: line-through;
    padding: 0 5px;
}

.image-with-text-wrapper {
    padding: var(--padding-container);
}

.image-with-text.flex {
    width: 100%;
    gap: 65px;
    flex-wrap: wrap;
    justify-content: center;
}
.multi-image-section {
    width: 39%;
}
.image-section.image-sec-1 {
    position: absolute;
    left: 40%;
    z-index: -1;
    bottom: 8%;
}
.text-section {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: 400;
    line-height: 26px;
}
.image-section.image-sec-1 {
    position: absolute;
    left: 25%;
    z-index: -1;
}

.text-section button {
    width: fit-content;
}
li.point-list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.multi-image-section-inner {
    display: flex;
    position: relative;
}
.image-section.image-sec-1 {
    position: absolute;
    left: 40%;
    z-index: -1;
    bottom: 8%;
}
.grid-col-4-desktop .grid-item{
    width: calc(25% - 0px);
    max-width: calc(25% - 0px);
    gap: 20px;
}
.upper-text-banner-image img {
    object-fit: cover;
    max-height: 100%;
    aspect-ratio: 16/5.7;
    object-position: bottom;
    position: relative;
    min-height: 100%;
}
.upper-text-banner-image{
    position: relative;
}
.image-with-upper-text-content {
    gap: 20px;
    flex-direction: column;
    max-width: 627px;
    font-weight: 400;
    color: white;
    line-height: 26px;
    font-family: 'nunitoFont';
}
.image-with-upper-text-content-wrapper {
    position: absolute;
    top: 24%;
}
.bold{
    color: #25a2db;
    font-weight: 400;
}
section.image-with-upper-text-wrapper {
    margin-bottom: 80px;
}
section.rich-text-wrapper {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
}
.rich-text {
    max-width: 1025.357421875px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: var(--font-weight-normal);
}
.grid-col-2-desktop .grid-item {
    width: calc(50% - 0px);
    max-width: calc(50% - 0px);
}
.image-with-text.grid.grid-col-2-desktop.grid-col-1-tablet {
    align-items: center;
}
.text-section .h4 {
    font-size: 20px;
    line-height: 35px;
    display: flex;
    min-width: 640px;
    flex-wrap: wrap;
}
.image-with-text-wrapper-sec-3 .grid-col-2-desktop {
    gap: 60px;
}
.grid-col-2-desktop .grid-item {
    width: calc(50% - 60px);
    max-width: calc(50% - 60px);
}
.blog-products-wrapper{
    padding: var(--padding-container);
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.blog-product-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.grid-col-3-desktop .grid-item {
    width: calc(33.33% - 50px);
    max-width: calc(33.33% - 50px);
}
.blog-product {
    flex-direction: column;
    gap: 20px;
}
.blog-product-lists{
    gap: 50px;
}
.blog-product-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 20px;
    text-align: justify;
}
.blog-product-content p {
    line-height: 100%;
    font-weight: var(--font-weight-normal);
}
span.date {
    color: rgba(138, 144, 153, 1);
}
.stars{
    gap: 3px;
}
.rich-text.rich-text-sec-2.align {
    display: flex;
    align-items: center;
    font-size: 14px;
    max-width: 884.615234375px;
}
.icon-with-text:first-child{
    justify-content: flex-start;
}
.icon-with-text:last-child{
    justify-content: flex-end;
}
